<h2>Person details:</h2>

<p>
  <b>Full name: </b>
  <%= @person.full_name %>
</p>

<p>
  <b>Birthday: </b>
  <%= @person.birthday %>
</p>

<p>
  <b>Gender</b>
  <%= @person.gender %>
</p>

<p>
  <b>Ci</b>
  <%= @person.ci %>
</p>

<h4>Addresses</h4>

<table border="1">
  <thead>
    <tr>
      <th>Line1</th>
      <th>Line2</th>
      <th>City</th>
      <th>Country</th>
      <th>Zipcode</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @person.addresses.each do |address| %>
      <tr>
        <td><%= address.line1 %></td>
        <td><%= address.line2 %></td>
        <td><%= address.city %></td>
        <td><%= address.country %></td>
        <td><%= address.zipcode %></td>
        <td><%= link_to "Delete", person_address_path(address.person, address), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Companies</h4>

<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rif</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.rif %></td>
        <td><%= link_to "Show", company_path(company) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Orders</h4>

<table border="1">
  <thead>
    <tr>
      <th>Company</th>
      <th>Description</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.company.name %></td>
        <td><%= order.description %></td>
        <td><%= order.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>